
.pagination-active {
  border-radius: 4px;
  background-color: #e0faf2;
  color: #00d094;
}

.pagination-section {
  font-weight: 700;
}

.pagination-nav:hover {
  background-color: #e0faf2;
  color: #00d094;
}

.related-news strong:hover {
  cursor: pointer;
  color: #00d094;
}

.related-news h5:hover {
  cursor: pointer;
  color: #00d094;
}
