a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: url("../public/banner_bg_dark.png");
}

.gap-top {
  margin-top: 3rem;
}

.btn-custom-green {
  background-color: #00d094;
  border: 1px solid #00d094;
  color: #00150f;
  font-weight: 600;
}

.btn-custom-green:hover {
  background-color: #00d06f;
}
